body 
{
  margin: 0px;
  padding: 1em;
  }

canvas
{ 
  background: #222;
  border: 2px solid #339;
  margin: 1em;
  padding: 1em;
 }

#buttons
{
  margin: 1em auto 1em auto;
  padding: 1ex;
  background: #eeeeff;
  }

#buttons > input
{
  padding: 10px;
  float: left;
  margin-top: 5px;
  }


#startmessage {
    font-size: 150%;
    font-weight: bold;
    background: #ffaaaa;
    padding: 1ex;
    border: 0.2ex solid #ff3333;
}